html, body {
    margin:0;
    padding: 0;
    background-color: #413b37;
    width: 100%;
}

*, *::before, *::after { /*整體的東西*/
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.list_bar{
    display: flex;
    top:0;
    padding: 8px;
    align-items: center;
    justify-content: center;
    background-color: rgba(15,45,60,75);
}

.icon{
    content: url(/starlux/icon/instagram.png);
    width: 15px;
    margin-right: 2px;
}


.logo{
    width: 12vw;
    padding: 10px;
}

.text_bar{
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: center;
}


.list_button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    margin:10px;
    padding: 10px;
    text-align: center;
    font-size: 1.3vw;
}

.list_button:hover{
    background-color: rgb(77, 77, 77);
}

.Aircraft{
    position: relative; /*相對位置*/
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
}

.Aircraft_title{
    position: absolute; /*絕對位置*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size:7vw;
    text-shadow: 2px 2px 8px #000000;
}

.Aircraft_picture{
    /*linear-gradient(to bottom, rgba(0,0,0,0.52), rgba(0,0,0,0.73))*/
    width: 100%;
}

.Aircraft_describe{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 2vw;
}


.bottom{
    background-color: aliceblue;
    padding: 10px;
    width: 100%;
    bottom: 0;
}

.route{
    display: flex;
    background: #08202d;
    padding: 0;
}
.Aircraft_321neo{
    width: 50%;
    margin: 0;
    /*border-radius: 25px;*/
}

.gradient{
    position: absolute;
    height: 30%;
    width: 100%;
    --gradient-from-color: #000;
    --gradient-color-stops: var(--gradient-from-color),var(--gradient-to-color,transparent);

}
.content{
    position: relative;
    width: 100%;
    /*background-image: url(Pexels_aircraft.jpg);*/
    color: white;
    text-align: center;
    margin: 0;
    padding:0;
}

.content_image{
    background-image: url(/starlux/image/Pexels_aircraft.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    filter: brightness(70%);
    height: 500px;
}

.inforation_title{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 8px #000000;
    padding: 10px;
    font-size: 4vw;
}

.inforation_content{
    
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 8px #000000;
    line-height: 2;
    font-size: 20px;
}

.footer_content{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    height: 15vw;
    padding: 20px;
    color: white;
}

.footer_left{
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 10px;
}

.footer_left > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    margin-bottom: 10px;
}

.facebook{
    display: inline;
    cursor: pointer;
    font-size: 2.5vh;
    margin: 10px;
}

.facebook_icon{
    content: url(/starlux/icon/facebook.png);
    height: 2vh;
    margin-right: 2px;
}

.instagram{
    display: inline;
    cursor: pointer;
    font-size: 2.5vh;
    margin: 10px;
}

.instagram_icon{
    content: url(/starlux/icon/instagram.png);
    height: 2vh;
    margin-right: 2px;
}

.footer_right{
    display: block;
    align-content: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 10px;
}